[Bb]uild/
[Pp]ackages/
ipch/
.vs/
obj/

*.chw
*.suo
*.user
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.opendb
*.opensdf
*.sdf
*.aps
*.ncb
*.cachefile
*.VC.db
*.VC.VC.opendb
tools/release/curl/curl.exe
tools/release/curl/libcurl.dll
tools/release/curl/libcurl_imp.lib
tools/release/curl/libeay32.dll
tools/release/curl/ssleay32.dll
tools/release/curl/zlib1.dll
